<nav class="navbar navbar-default navbar-fixed">
  <div class="container-fluid">
                  <div class="navbar-header">
                      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                          <span class="sr-only">Toggle navigation</span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                      </button>
                      <a class="navbar-brand" href="#">All Devices</a>
                  </div>
                  <div class="collapse navbar-collapse">
                      <ul class="nav navbar-nav navbar-left">

                      </ul>

                      <ul class="nav navbar-nav navbar-right">

  						<li class="separator hidden-lg hidden-md"></li>
                      </ul>
                  </div>
              </div>
</nav>
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="card" >
                    <div class="content" style="height:440px;overflow-y:scroll">
                      <div class="table-full-width">
                                    <table class="table">
                                        <tbody>
                                            <tr>

                                                <td><%= image_tag("/devices/iphone.png", style: 'height:30%;width:auto;') %></td>
                                                <td><h5> Jared's iPhone 7 Plus</h5></td>
                                            </tr>
                                            <tr>

                                                <td><%= image_tag("/devices/macbook_air.png", style: 'height:30%;width:auto;') %></td>
                                                <td><h5> Jared's MacBook air</h5></td>
                                            </tr>
                                            <tr>



                                        </tbody>
                                    </table>
                                </div>
                    </div>
                    <div class="footer" style="padding: 15px 15px 10px 15px">
                        <hr>
                        <div class="stats">You are signed in on these devices</div>
                    </div>

                </div>
            </div>
            <div class="col-md-8">
                <div class="card" >
                    <div class="content" style="height:440px;overflow-y:scroll">

                    </div>
                    <div class="footer" style="padding: 15px 15px 10px 15px">
                        <hr>
                        <div class="stats">Remove this Device</div>
                    </div>

                </div>
            </div>

        </div>

        <div class="row">

        </div>

    </div>
</div>
